CompileFlags:
  Add: [
    -I../include,
    -I../../include
  ]
Completion:
  HeaderInsertion: Never
Index:
  StandardLibrary: true
InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  BlockEnd: true
Hover:
  ShowAKA: false
