[user]
    email = hchen.robotics@gmail.com
    name = Harrison Chen
[alias]
    stash-all = stash --include-untracked
    uncommit = reset --soft HEAD~1
    untrack = restore --staged
[commit]
    template = ~/.gitmessage.txt
    verbose = true
[fetch]
    prune = true
[help]
    autocorrect = true
[init]
    defaultBranch = main
[pull]
    ff = only
[status]
    branch = true
    short = true